@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}


*{
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
}

.cardprops
{
  margin-left: 6%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.mail-btn
{
  margin-left:20%;
}

.menuLinks
{
  font-family: 'Oleo Script', cursive;
  font-size: 2rem;
  color: white;
  font-weight: 300;
}


.lecture{
  font-size: 20px;
}
.table_heading ,.Home_Lecture
{
  border: 1px solid #487EB0;
  color: #43BE31;
  background: #2C3335;
  font-size:38px ;
  font-family: 'Crimson Text', serif;
}

.tabledatasize
{
  font-size: 22px;
}
